<div class="container-fluid gray hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">

				<h4>About {{site.data.settings.client.name}}</h4>
			</div>
		</div>
	<div class="row">
		<div class="about-container">
		<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">

				<div class="client-image-container">
					<img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image" />
				</div><br />
			</div>
		<div class="col-lg-6 col-md-8 hidden-sm hidden-xs about-text">
			{{site.data.settings.client.about_markdown | markdownify }}
		</div>
		<div class="col-lg-3">
			<p class="contact-text">
				<strong>Katrina Madewell</strong><br>
				Keller Williams Realty<br>
				18302 Highwoods Preserve Pkwy #110<br>
				Tampa, FL 33647<br>
				Office: <a href="tel:1-813-936-2302">813-936-2302</a><br>
				Cell: <a href="tel:1-813-777-1196">813-777-1196</a><br>
				Email: <a href="mailto:KatrinaMadewell@gmail.com">KatrinaMadewell@gmail.com</a><br><br>

				<strong>Tampa Home Talk</strong><br>
				Fridays at 8 AM & 9 AM EST on Money Talk 1010 AM, 99.5 HD(2) or 103.1 FM<br>
				Oak Ridge Professional Park<br>
				23526 State Road 54<br>
				Lutz, FL 33559<br>
				Email: <a href="mailto:tampahometalk@gmail.com">tampahometalk@gmail.com</a><br>
				Website: <a href="https://TampaHomeTalk.com" target="_blank">TampaHomeTalk.com</a>

			</p>
		</div>
	</div>
</div>
</div>
