<p class="contact">
  <strong>Katrina Madewell</strong><br>
  Keller Williams Realty<br>
  18302 Highwoods Preserve Pkwy #110<br>
  Tampa, FL 33647<br>
  Office: <a href="tel:1-813-936-2302">813-936-2302</a><br>
  Cell: <a href="tel:1-813-777-1196">813-777-1196</a><br>
  Email: <a href="mailto:KatrinaMadewell@gmail.com">KatrinaMadewell@gmail.com</a><br><br>

  <strong>Tampa Home Talk</strong><br>
  Fridays at 8 AM & 9 AM EST on Money Talk 1010 AM, 99.5 HD(2) or 103.1 FM<br>
  Oak Ridge Professional Park<br>
  23526 State Road 54<br>
  Lutz, FL 33559<br>
  Email: <a href="mailto:tampahometalk@gmail.com">tampahometalk@gmail.com</a><br>
  Website: <a href="https://TampaHomeTalk.com" target="_blank">TampaHomeTalk.com</a>

</p>

<form class="contact-form" method="post" action="https://formspree.io/{{site.data.settings.client.email}}">
  <input type="text" name="name" placeholder="Name" required>
  <input type="email" name="_replyto" placeholder="Email" required>
  <textarea name="Message" placeholder="Message"></textarea>
  <!-- Cloud cannon settings field -->
  <div class="hidden">
    <input type="hidden" name="_to" value="{{site.data.settings.client.email}}">
    <input type="hidden" name="_subject" value="Contact Message From Your Vyral Video Blog">
    <input type="text" name="_gotcha">
  </div>

  <input type="submit" value="submit">
</form>
